<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #students-static-resources},
                                                ~{:: #students-header},
                                                ~{:: #students-nav},
                                                ~{:: #students-main-content},  
                                                ~{:: #students-footer}
                                               )}">
	<head>
		<title>
			Spring MVC with JPA-MySQL and Thymeleaf
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 /">
		
		
	</head>
	<body>
		<div id="students-header">
			Courses List         </div>
		<div id="students-nav" th:replace="~{/fragments/app-fragments :: nav-default}">Nav</div>
		<div id="students-main-content">
			<a href="/coursemgt/courseRegister">New Course Enrol</a>
			<table border="1" cellpadding="10">
				<thead>
					<tr>
						<th>Student ID</th>
						<th>Student Name</th>
						<th>Course Titel</th>
						<th>Entrol Date</th>
						<th>Grade</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="enrol :${enrols}"
					th:style="${enrolStat.odd}? 'font-weight:bold;'"
					th:alt-title="${enrolStat.even}?'even':'odd'">
						<td th:text="${enrol.student.id}"> Student ID</td>
						<td th:text="${enrol.student.name}">Student Name </td>
						<td th:text="${enrol.course.title}">Course Titel </td>
						<td th:text="${enrol.registeredAt}">Entrol Date</td>
						<td th:text="${enrol.grade}">Grade</td>
					
						
					</tr>
				</tbody>
			</table>
		</div>
		<div id="students-footer" th:replace="~{fragments/app-fragments::copyright}">Footer</div>
	</body>
</html>