<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #students-static-resources},
                                                ~{:: #students-header},
                                                ~{:: #students-nav},
                                                ~{:: #students-main-content},  
                                                ~{:: #students-footer}
                                               )}">
	<head>
		<title>
			Spring MVC with JPA-MySQL and Thymeleaf
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 /">
		
		
	</head>
	<body>
		<div id="students-header">
			Student List         </div>
		<div id="students-nav" th:replace="~{/fragments/app-fragments :: nav-default}">Nav</div>
		<div id="students-main-content">
		<form action="#" th:action="@{/coursemgt/registerStudent}" method="post" th:object="${student}">
		<table cellpadding="10" align="center">
		<tr> <td><label>Full name:</label>
			<input type="text" th:field="*{name}" />
			<th th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th>
			</td>
		</tr>	
		<tr><td><label>E-mail:</label>
			<input type="text" th:field="*{email}" />
			<th th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></th>
			</td>
		</tr>
		 <tr><td><label>Password:</label>
			<input type="password" th:field="*{password}" />
			<th th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></th>
			</td>
			</tr>
			
		<tr> <td>	<label>Birthday:</label>
			<input type="date" th:field="*{birthDate}" />
				<th th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></th>
			</td>
			</tr>
			<tr>
			<td><label>Gender:</label>
			
			<input type="radio" th:field="*{gender}" value="Male" />Male
			<input type="radio" th:field="*{gender}" value="Female" />Female
			
			</td>
			</tr>
			
			</table>
			<button type="submit"> Register</button>
		
		
		
		</form>
		</div>
		<div id="students-footer" th:replace="~{fragments/app-fragments::copyright}">Footer</div>
	</body>
</html>